html {
    background-color:#151e27;
}

p{
    font-size: 18px;
}

.title{
    width: 100vw;
    max-width:100%; 
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    color: white;
    margin-top:0.8rem;
}

.main-container{
    color: #212121;
    background-color: #151e27;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    grid-template-rows: 10% 45% 45%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
}

.navbar {
    grid-column: 1/-1;
    grid-row: 1;
    display:grid;
}

.finances {
    color:white;
    margin-top: 1rem;
    text-align: center;
    margin: 1em 10rem;
    grid-column: 1/-1;
    grid-row: 2;
    display:flex;
    justify-content: center;
}

.display-laptop{
    margin: 1em 10rem;
    grid-column: 1/-1;
    grid-row: 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    display:flex;
    justify-content: center;
}

.card {
    margin-left:5rem;
    margin-right:5rem;
}

.card-title {
    margin-top:1rem;
}

.customer {
    height: 100%;
    display:grid;
    grid-template-rows: 20% 35% 35%;
    background-color: #1b2733;
}

.mid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70% 30%;
    width:100%;   
}

.balance {
  grid-row:1;
  align-self:end;
}
.balance-sum {
    grid-row:1;
    align-self:end;
}

.bottom-card{
    align-self:end;
}

.pay-balance {
    grid-row:1;
    align-self:end;
  }

.pay-sum {
    grid-row:1;
    align-self:end;
}

.custom {
    width:6rem;
}

.select-wrapper {
    grid-row: 1;
    grid-column: 1/-1;
    
}

#display-card{
    display:none;
    background-color: #1b2733;
}

#laptop-card{
    background-color: #1b2733;
}

#work-card{
    background-color: #1b2733;
}

#customer-card{
    background-color: #1b2733;
}

.display-image {
    color:white;
    display:grid;
    grid-template-columns: 30% 40% 30%;
    height: 100%;
}

.image-container{
    width:80%;
    display:flex;
    margin-left: 20px;
    margin-right: 10px;
}

#loan-btn {
    display: none;
}


.features-title {
    grid-column: 1/-1;
}

#features-field {
    padding:10px;
}

 img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto auto;
}

.description{
    margin-top:1rem;
    text-align: center;
}

#description-text{
    margin-top:3rem;
}

.price-buy {
    text-align: center;
    margin-top: 6rem;
}

#buy-btn{
    margin-top:1rem;
    width: 10rem;
}

.modal-header{
    background: #82ce34;
    border-bottom: none;   
    border-radius: 20px 20px 0 0;
    padding: 35px;
}


#modal2 .modal-header{
    background: #e85e6c;
    border-bottom: none;   
    padding: 35px;
}

#modal3 .modal-header{
    background: #e85e6c;
    border-bottom: none;   
    padding: 35px;
}

#modal4 .modal-header{
    background: #e85e6c;
    border-bottom: none;   
    padding: 35px;
}